@media only screen and (min-width:1851px) {}

@media only screen and (min-width:1601px) and (max-width: 1850px) {

    /* home page 02 */

    .header-area-wrapper .header-area.index-02 .header-content .img-box img {
        max-width: 650px;
    }

    .header-area-wrapper .header-area.index-02 .header-content .img-box {
        right: -48px;
    }

    /* home page 03 */

    .header-area-wrapper .header-area.index-03 .header-content .img-box img {
        max-width: 900px;
    }
}

@media only screen and (min-width: 1400px) and (max-width: 1600px) {

    /* home page 01 */

    .header-area-wrapper .header-area.index-01 .custom-container-01 .header-content .img-box {
        right: -130px;
    }

    /* home page 02 */

    .header-area-wrapper .header-area.index-02 .header-content .img-box img {
        max-width: 650px;
    }

    .header-area-wrapper .header-area.index-02 .header-content .img-box {
        right: 48px;
    }

    /* home page 03 */

    .header-area-wrapper .header-area.index-03 .header-content {
        min-height: 725px;
    }

    .header-area-wrapper .header-area.index-03 .header-content .img-box {
        right: 60px;
    }


    .header-area-wrapper .header-area.index-03 .header-content .img-box img {
        max-width: 800px;
    }

}

@media only screen and (min-width: 1367px) and (max-width: 1399px) {

    /* home page 01 */

    .header-area-wrapper .header-area.index-01 .custom-container-01 .header-content .img-box {
        position: absolute;
        right: -130px;
    }

    .header-area-wrapper .header-area.index-01 .header-content .img-box-01 img {
        max-height: 790px;
    }

    .header-area-wrapper .header-area.index-01 .header-content .img-box-01 {
        right: 76px;
    }

    .header-area-wrapper .header-area.index-01 .header-content .img-box-03 {
        right: 14px;
    }

    /* home page 02 */

    .header-area-wrapper .header-area.index-02 .header-content .img-box img {
        max-width: 650px;
    }

    .header-area-wrapper .header-area.index-02 .header-content .img-box {
        right: 48px;
    }

    .header-area-wrapper .header-area.index-02 .header-content .img-box img {
        max-width: 680px;
    }

    /* home page 03 */

    .header-area-wrapper .header-area.index-03 .header-content {
        min-height: 725px;
    }

    .header-area-wrapper .header-area.index-03 .header-content .img-box {
        right: 25px;
    }

    .header-area-wrapper .header-area.index-03 .header-content .img-box img {
        max-width: 800px;
    }

    .header-area-wrapper .header-area.index-03 .header-content .content .text-content {
        padding-top: 130px;
    }

}

@media only screen and (min-width: 1201px) and (max-width: 1366px) {

    /* home page 01 */

    .navbar-area.nav-style-02 .nav-container.nav-container-ex {
        max-width: 1160px;
        padding: 20px 35px;
    }

    .header-area-wrapper .header-area.index-01 .custom-container-01 .header-content .img-box {
        position: absolute;
        right: -50px;
    }

    .header-area-wrapper .header-area.index-01 .custom-container-01 .header-content .img-box img {
        max-width: 650px;
    }

    .header-area-wrapper .header-area.index-01 .custom-container-01 .header-content .content .main-title {
        font-family: var(--heading-font);
        font-size: 75px;
        line-height: 95px;
        font-weight: 700;
        color: var(--heading-color);
    }

    .header-area-wrapper .header-area.index-01 .header-content .img-box-01 img {
        max-height: 790px;
    }

    .header-area-wrapper .header-area.index-01 .header-content .img-box-01 {
        right: -14px;
    }

    .header-area-wrapper .header-area.index-01 .header-content .img-box-03 {
        display: none;
    }

    .header-area-wrapper .header-area.index-01 .header-content .img-box-02 {
        right: 426px;
        bottom: 459px;
    }

    /* home page 02 */

    .header-area-wrapper .header-area.index-02 .header-content .img-box img {
        max-width: 500px;
    }

    .header-area-wrapper .header-area.index-02 .header-content .img-box {
        right: 48px;
    }

    .header-area-wrapper .header-area.index-02 .header-content {
        min-height: 650px;
    }
    /* home page 03 */

    .header-area-wrapper .header-area.index-03 .header-content {
        min-height: 595px;
    }

    .header-area-wrapper .header-area.index-03 .header-content .img-box {
        right: 25px;
    }

    .header-area-wrapper .header-area.index-03 .header-content .img-box img {
        max-width: 630px;
    }

    .header-area-wrapper .header-area.index-03 .header-content .content .text-content {
        padding-top: 130px;
    }

    /* blog details */

    .blog-details-area-wrapper.style-02 .blog-details-inner-area .main-img-box .background-img {
        height: 600px;
    }

    .blog-details-area-wrapper .blog-details-inner-area .main-title {
        font-size: 40px;
        line-height: 50px;
    }

}


/* Medium Layout: 1200px. */

@media only screen and (min-width: 992px) and (max-width: 1200px) {

    /* home page 01 */

    .navbar-area.nav-style-02 .nav-container.nav-container-ex {
        max-width: 1160px;
        padding: 20px 35px;
    }

    .header-area-wrapper .header-area.index-01 .custom-container-01 .header-content .img-box {
        position: absolute;
        right: -50px;
    }

    .header-area-wrapper .header-area.index-01 .custom-container-01 .header-content .img-box img {
        max-width: 650px;
    }

    .header-area-wrapper .header-area.index-01 .custom-container-01 .header-content .content .main-title {
        font-family: var(--heading-font);
        font-size: 75px;
        line-height: 95px;
        font-weight: 700;
        color: var(--heading-color);
    }

    .header-area-wrapper .header-area.index-01 .header-content .img-box-01 img {
        max-height: 790px;
    }

    .header-area-wrapper .header-area.index-01 .header-content .img-box-01 {
        right: -14px;
    }

    .header-area-wrapper .header-area.index-01 .header-content .img-box-03 {
        display: none;
    }

    .header-area-wrapper .header-area.index-01 .header-content .img-box-02 {
        right: 426px;
        bottom: 459px;
    }

    /* home page 02 */

    .header-area-wrapper .header-area.index-02 .header-content .img-box img {
        max-width: 500px;
    }

    .header-area-wrapper .header-area.index-02 .header-content .img-box {
        right: 48px;
    }

    /* home page 03 */

    .header-area-wrapper .header-area.index-03 .header-content {
        min-height: 490px;
        justify-content: flex-end;
    }



    .header-area-wrapper .header-area.index-03 .header-content .content .text-content {
        padding-top: 0;
    }

    .header-area-wrapper .header-area.index-03 .header-content .img-box {
        display: none;
    }

    .header-area-wrapper .header-area.index-03 .shape-bg-01 {
        right: 160px;
        top: 300px;
    }

}

@media only screen and (min-width: 992px) and (max-width: 1199px) {

    /* home page 01 */

    .navbar-area.nav-style-02 .nav-container.nav-container-ex {
        max-width: 980px;
        padding: 20px 35px;
    }

    .navbar-area.nav-style-02 .nav-container .logo-wrapper a img {
        max-width: 160px;
    }

    .header-area-wrapper .header-area.index-01 .custom-container-01 .header-content .img-box {
        position: absolute;
        right: -55px;
    }

    .header-area-wrapper .header-area.index-01 .custom-container-01 .header-content .img-box img {
        max-width: 570px;
    }

    .header-area-wrapper .header-area.index-01 .custom-container-01 .header-content .content .main-title {
        font-family: var(--heading-font);
        font-size: 65px;
        line-height: 82px;
        font-weight: 700;
        color: var(--heading-color);
    }

    .single-exclusive-item.style-01 {
        flex-direction: column;
    }

    .single-exclusive-item.style-01 .img-box {
        max-width: initial;
    }

    .single-exclusive-item.style-01 .img-box img {
        width: 100%;
    }

    .xl-four-column .col-xl-3:nth-child(4) {
        margin-top: 30px;
    }

    .header-area-wrapper .header-area.index-01 .header-content .img-box-01 {
        display: none;
    }

    .header-area-wrapper .header-area.index-01 .header-content .img-box-02 {
        display: none;
    }

    .header-area-wrapper .header-area.index-01 .header-content .content {
        margin-left: 130px;
    }

    .header-area-wrapper .header-area.index-01 .header-content {
        min-height: 700px;
    }
    /* home page 02 */

    .header-area-wrapper .header-area.index-02 .header-content {
        min-height: 750px;
    }

    .header-area-wrapper .header-area.index-02 .header-content .content {
        max-width: 760px;
        margin-left: 140px;
    }

    .single-popular-catg-item.style-02 .left-content .icon-wrap {
        margin-right: 10px;
    }

    .header-area-wrapper .header-area.index-02 .header-content .img-box {
        display: none;
    }

    /* about us page */

    .about-area-wrapper .content-wrap .content.pl-100 {
        padding-left: 60px;
    }

    .about-area-wrapper .content-wrap .content.pr-100 {
        padding-right: 60px;
    }

    /* blog details 01 */

    .single-featured-item.style-01 .content .bottom-content .left-content .pricing .price {
        font-size: 24px;
        line-height: 30px;
    }

    .single-featured-item.style-01 .content .bottom-content .left-content .pricing del {
        font-size: 16px;
    }

    /* blog details 02*/

    .blog-details-area-wrapper.style-02 .blog-details-inner-area .main-img-box .background-img {
        height: 600px;
    }

    .blog-details-area-wrapper .blog-details-inner-area .quote .quote-text {
        font-size: 32px;
        line-height: 42px;
    }

    .single-brand-item .logo-box img {
        max-width: 45px;
    }

    .single-featured-item.style-04 .content .top-content .right-content {
        margin-top: 10px;
    }

    .coupon-wrap.v-02 .coupon-02 {
        padding-left: 40px;
        padding-right: 40px;
        line-height: 25px;
    }

    .blog-grid-area-wrapper.food-details .blog-grid.style-01 .img-box .background-img {
        height: 222px;
    }

    .blog-details-area-wrapper .blog-details-inner-area .main-title {
        font-size: 37px;
        line-height: 48px;;
    }

    .btn-wrapper .btn-default {
        font-size: 16px;
    }
}


/* Tablet Layout: 768px. */

@media only screen and (max-width: 991px) {

    /* home page 01 */

    .header-area-wrapper .header-area.index-01 .header-content {
        min-height: 700px;
    }

    .header-area-wrapper .header-area.index-01 .header-content .img-box-01, .header-area-wrapper .header-area.index-01 .header-content .img-box-02, .header-area-wrapper .header-area.index-01 .header-content .img-box-03 {
        display: none;
    }

    .header-area-wrapper .header-area.index-01 .header-content .content {
        margin: auto;
    }

    .navbar-area.nav-style-02 .nav-container .nav-right-content {
        position: absolute;
        top: 0;
        left: 55%;
        transform: translateX(-50%);
        margin-left: 0;
    }

    .navbar-area.nav-style-02 .nav-container.nav-container-ex {
        max-width: 720px;
    }

    .navbar-area.nav-style-02 .nav-container .navbar-collapse .navbar-nav {
        background-color: transparent;
    }

    .navbar-area.nav-style-02 .nav-container .navbar-collapse .navbar-nav li::after {
        display: none;
    }

    .navbar-area.nav-style-02 .nav-container .logo-wrapper a img {
        max-width: 155px;
    }

    .navbar-area.nav-style-02 .nav-container .logo-wrapper a {
        vertical-align: -10px;
    }

    .navbar-area.nav-style-02 .nav-container .nav-right-content ul li .notification {
        margin-top: 10px;
    }

    .navbar-area.nav-style-02 .nav-container .nav-right-content ul li .notification a {
        height: 40px;
        width: 40px;
        line-height: 40px;
    }

    .navbar-area.nav-style-02 .nav-container .nav-right-content ul li .notification a .numb {
        right: -10px;
        top: -8px;
        ;
    }

    .navbar-area .nav-container .nav-right-content ul li .btn-default {
        font-size: 18px;
        padding: 5px 23px 5px;
    }

    .navbar-area .nav-container .navbar-collapse .navbar-nav>li {
        padding-right: 0;
        padding-left: 0px;
    }

    .navbar-area .nav-container .navbar-collapse .navbar-nav li.menu-item-has-children .sub-menu li {
        border-bottom: 1px solid rgb(255 255 255 / 20%);
    }

    .navbar-area .nav-container .navbar-collapse .navbar-nav li.menu-item-has-children .sub-menu li:last-child {
        border-bottom: none;
    }

    .navbar-area .nav-container .navbar-collapse .navbar-nav li.menu-item-has-children .sub-menu li a {
        padding: 10px 15px;
    }

    .navbar-area.nav-style-02 .nav-container .navbar-collapse .navbar-nav li.current-menu-item a {
        color: var(--main-color-two);
        font-weight: 600;
    }

    .navbar-area.nav-style-02 .nav-container .navbar-collapse .navbar-nav li a {
        display: block;
    }

    .navbar-area.nav-style-02 .nav-container .navbar-collapse .navbar-nav li a:hover {
        color: var(--main-color-two);
    }

    .navbar-area.nav-style-02 .nav-container .navbar-collapse .navbar-nav li.menu-item-has-children .sub-menu li a {
        font-weight: 400;
    }

    .navbar-area.nav-style-02 .nav-container .navbar-collapse .navbar-nav li.menu-item-has-children .sub-menu li a:hover {
        color: var(--main-color-two);
    }

    .navbar-area.nav-style-02 .nav-container .navbar-toggler {
        height: 45px;
        padding: 0px;
        width: 48px;
    }

    .navbar-toggler-icon {
        width: 30px;
    }

    .navbar.navbar-area.navbar-expand-lg.nav-style-02.v-02 .navbar-collapse .navbar-nav li {
        border-bottom: 1px solid #e7e7e7;
    }

    .navbar.navbar-area.navbar-expand-lg.nav-style-02.v-02 .navbar-collapse .navbar-nav li:last-child {
        border-bottom: 0;
    }

    .navbar.navbar-area.navbar-expand-lg.nav-style-02.v-02 .navbar-collapse .navbar-nav li .sub-menu li a {
        color: #4F4F4F;
    }

    .navbar-area.nav-style-02.v-03 .nav-container .navbar-collapse .navbar-nav {
        background-color: #2c2c2c;
        padding: 15px;
    }

    .navbar-area.nav-style-02.v-03 .nav-container .navbar-collapse .navbar-nav>li a {
        color: #fff;
    }

    .header-area-wrapper .header-area.index-01 .custom-container-01 .header-content .img-box {
        display: none;
    }

    .navbar-area .nav-container .navbar-collapse .navbar-nav li.menu-item-has-children {
        padding-right: 0;
    }

    .header-area-wrapper .header-area.index-01 .custom-container-01 .header-content {
        min-height: 670px;
    }

    .header-area-wrapper .header-area.index-01 .custom-container-01 .header-content .content {
        max-width: 75%;
    }

    .header-area-wrapper .header-area.index-01 .custom-container-01 .header-content .content .main-title {
        font-size: 65px;
        line-height: 85px;
    }

    .header-area-wrapper .header-area.index-01 .header-content .content .main-title {
        font-family: var(--heading-font);
        font-size: 72px;
        line-height: 96px;
        font-weight: 700;
        color: var(--heading-color);
    }

    .header-area-wrapper .header-area.index-01 {
        position: relative;
        padding-top: 87px;
    }

    .three-column .col-md-6:nth-child(3) {
        margin-top: 30px;
    }

    .section-title-wrapper.has-siblings {
        align-items: flex-start;
        flex-direction: column;
        text-align: left;
    }

    .section-title-wrapper.has-siblings .section-title-main {
        margin-bottom: 10px;
    }

    .recent-list li:first-child {
        margin-left: 0;
    }

    .recent-list li:last-child {
        margin-right: 0;
    }

    .two-column .col-md-12:nth-child(2) {
        margin-top: 30px;
    }

    .featured-brand-item-wrap.style-01 {
        justify-content: flex-start;
    }

    .featured-brand-item-wrap.style-01 .single-brand-item {
        width: 25%;
    }

    .xl-four-column .col-xl-3:nth-child(3),
    .xl-four-column .col-xl-3:nth-child(4) {
        margin-top: 30px;
    }

    .footer-area .footer-top .row .col-md-8 {
        margin-top: 50px;
    }

    .footer-area .footer-top .row .col-md-8:first-child {
        margin-top: 0px;
    }

    /* home page 02 */

    .header-area-wrapper .header-area.index-02 .header-content {
        min-height: 750px;
    }

    .header-area-wrapper .header-area.index-02 .header-content .content {
        max-width: 760px;
        margin-left: 100px;
    }

    .single-popular-catg-item.style-02 .left-content .icon-wrap {
        margin-right: 10px;
    }

    .header-area-wrapper .header-area.index-02 .header-content .img-box {
        display: none;
    }


    .four-column .col-md-6:nth-child(3),
    .four-column .col-md-6:nth-child(4) {
        margin-top: 30px;
    }

    .single-brand-item .logo-box img {
        max-width: 48px;
    }

    /* home page 03 */

    .header-area-wrapper .header-area.index-03 .header-content {
        min-height: 490px;
        justify-content: flex-end;
    }

    .header-area-wrapper .header-area.index-03 .header-content .content {
        margin-left: auto;
        margin-right: auto;
    }

    .header-area-wrapper .header-area.index-03 .header-content .content .text-content {
        padding-top: 0;
    }

    .header-area-wrapper .header-area.index-03 .header-content .img-box {
        display: none;
    }

    .header-area-wrapper .header-area.index-03 .shape-bg-01 {
        right: 160px;
        top: 300px;
    }

    .newsletter-area-wrapper .container {
        border-radius: 0;
    }

    /* products page */

    .row-reverse {
        flex-direction: column-reverse;
    }

    .row-reverse .widget-area-wrapper {
        margin-top: 100px;
    }

    /* about page */

    .single-counter-box .title {
        font-size: 20px;
    }

    .single-counter-box .counter {
        font-size: 50px;
    }

    .about-area-wrapper .content-wrap {
        flex-direction: column;
    }

    .about-area-wrapper .content-wrap .img-box {
        width: 100%;
    }

    .about-area-wrapper .content-wrap .img-box .background-img {
        height: 500px;
    }

    .about-area-wrapper .content-wrap .content {
        width: 100%;
    }

    .about-area-wrapper .content-wrap .content.pl-100 {
        padding-left: 0;
    }

    .about-area-wrapper .content-wrap .content.pr-100 {
        padding-right: 0;
    }

    .content-wrap.row-reverse {
        flex-direction: column-reverse;
    }

    .about-area-wrapper .content-wrap .img-box {
        margin-bottom: 40px;
    }

    /* blog details 01 */

    .widget-area-wrapper {
        margin-top: 100px;
    }

    /* blog details 02*/

    .blog-details-area-wrapper.style-02 .blog-details-inner-area .main-title {
        font-size: 38px;
        line-height: 50px;
    }

    .blog-details-area-wrapper.style-02 .blog-details-inner-area .main-img-box .background-img {
        height: 500px;
    }

    .blog-details-area-wrapper .blog-details-inner-area .quote .quote-text {
        font-size: 28px;
        line-height: 38px;
    }

    .blog-details-area-wrapper.style-02 .blog-details-inner-area .main-title {
        font-size: 42px;
        line-height: 52px;
    }

    .blog-details-area-wrapper .blog-details-inner-area .quote .quote-text {
        padding: 20px 15px 25px 15px;
    }

    .blog-details-area-wrapper .blog-details-inner-area .quote {
        padding: 0 20px 0;
    }

    .blog-grid.style-01 .img-box img {
        width: 100%;
    }

    .product-modal .content .pop-footer .left-content, .product-modal .content .pop-footer .right-content {
        margin-bottom: 10px;
    }

    .product-modal {
        width: 530px;
    }

    .single-brand-item .logo-box img {
        max-width: 45px;
    }

    .header-area-wrapper.index-02 {
        margin-top: 89px;
    }
    
    .header-area-wrapper .header-area.index-02 .header-content .content {
        margin-left: 0;
        max-width: 600px;
    }

    .header-area-wrapper .header-area.index-02 .header-content {
        min-height: 600px;
    }

    .special-deal-area-wrapper .row.two-column .col-lg-6 {
        margin-top: 30px;
    }

    nav.navbar.navbar-area.navbar-expand-lg.has-topbar-65.nav-style-02.v-04.index-03 .navbar-nav {
        background-color: #000000fc;
        padding-left: 15px;
        padding-right: 15px;
    }

    .coupon-wrap .overlay {
        line-height: 55px;
    }

    .coupon-01 .overlay {
        line-height: 34px;
    }

    .single-special-item .left-content {
        flex: 1;
    }

    .blog-grid-area-wrapper.food-details .blog-grid.style-01 .img-box .background-img {
        height: 255px;
    }

    .single-brand-item .logo-box img {
        max-width: 32px;
    }

    .get-in-touch-wrapper {
        margin-top: 60px;
    }
}


/* Tablet Layout wide: 768px. */

@media only screen and (max-width: 767px) {

    .product-modal {
        width: 530px;
    }
    /* home page 01 */

    .topbar-area .topbar-inner .left-content .topbar-item .contact .contact-list .contact-item.email {
        margin-left: 0;
    }

    .topbar-area .topbar-inner .left-content {
        margin-top: 0;
    }

    .topbar-area .topbar-inner .select-option {
        margin-top: 0;
    }

    .topbar-area .topbar-inner .right-content .topbar-item .social-icon {
        display: none;
    }

    .navbar-area.nav-style-02 .nav-container.nav-container-ex {
        padding-left: 20px;
        padding-right: 20px;
        border-radius: 0;
    }

    .header-area-wrapper .header-area.index-01 .custom-container-01 .header-content .content {
        max-width: 95%;
    }

    .header-area-wrapper .header-area.index-01 .custom-container-01 .header-content .content .main-title {
        font-size: 60px;
        line-height: 80px;
    }

    .recent-list {
        flex-wrap: wrap;
    }

    .recent-list li {
        margin-left: 0;
        margin-right: 25px;
        line-height: 32px;
    }

    .featured-brand-item-wrap.style-01 .single-brand-item {
        width: 50%;
    }

    .xl-four-column .col-sm-9:nth-child(2) {
        margin-top: 30px;
    }

    .header-area-wrapper .header-area.index-01 .header-content .content .main-title {
        font-family: var(--heading-font);
        font-size: 58px;
        line-height: 86px;
        font-weight: 700;
        color: var(--heading-color);
    }

    .header-area-wrapper .header-area.index-01 .header-content {
        min-height: 630px;
    }

    /* home page 02 */

    .header-area-wrapper .header-area.index-02 .header-content .content {
        max-width: 660px;
        margin: auto;
    }

    .single-featured-item.style-02 .content .top-content {
        flex-direction: column;
        align-items: flex-start;
    }

    .header-area-wrapper .header-area.index-02 .header-content .content .main-title {
        font-size: 70px;
        line-height: 90px;
    }

    .single-featured-item.style-02 .content .top-content .right-content .offer-duration {
        margin-top: 10px;
    }

    /* home page 03 */

    .header-area-wrapper .header-area.index-03 .header-content {
        min-height: 460px;
    }

    .header-area-wrapper .header-area.index-03 .header-content .content .main-title {
        font-size: 75px;
        line-height: 90px;
    }

    .single-featured-item.style-03 .content .bottom-content .left-content .pricing {
        flex-direction: column;
        align-items: flex-start;
    }

    .single-featured-item.style-03 .content .bottom-content .left-content .pricing del {
        margin-left: 0px;
        margin-top: 5px;
    }

    .single-featured-item.style-03 .content .middle-content .offer {
        font-size: 18px;
        line-height: 26px;
    }

    .header-area-wrapper .header-area.index-03 .container .header-content .content .main-title {
        font-size: 75px;
        line-height: 96px;
    }

    /* product page */

    .two-column .col-sm-12:nth-child(2) {
        margin-top: 30px;
    }

    .toolbox-wrapper {
        flex-direction: column;
        align-items: flex-start;
    }

    .toolbox-wrapper .toolbox-right {
        margin-top: 10px;
    }

    /* about us page */

    .about-area-wrapper .content-wrap .content .title {
        font-size: 42px;
        line-height: 50px;
    }

    .about-area-wrapper .content-wrap .img-box .background-img {
        height: 420px;
    }

    .faq-accordion .card .card-header a {
        font-size: 20px;
        line-height: 30px;
    }

    .single-counter-box .counter {
        font-size: 38px;
        line-height: 35px;
    }

    .single-counter-box .title {
        font-size: 16px;
        margin-top: 5px;
    }

    /* blog details 01 */

    .blog-details-area-wrapper .blog-details-inner-area .main-img-box .background-img {
        height: 435px;
    }

    .blog-details-area-wrapper .blog-details-inner-area .image-and-text {
        flex-direction: column;
    }

    .blog-details-area-wrapper .blog-details-inner-area .image-and-text .img-box {
        width: 100%;
    }

    .blog-details-area-wrapper .blog-details-inner-area .image-and-text .img-box .background-img {
        height: 310px;
    }

    .blog-details-area-wrapper .blog-details-inner-area .image-and-text .content {
        margin-top: 30px;
        width: 100%;
    }

    .blog-details-area-wrapper .blog-details-inner-area .tag-and-social-link .tag-wrap {
        margin-bottom: 15px;
    }

    .blog-details-area-wrapper .blog-details-inner-area .comment-area-full-wrapper .user-comment-area .comment-list>li .single-comment-wrap {
        flex-direction: column;
    }

    .blog-details-area-wrapper .blog-details-inner-area .comment-area-full-wrapper .user-comment-area .comment-list>li .single-comment-wrap .content {
        margin-left: 0;
        margin-top: 20px;
    }

    .blog-details-area-wrapper .blog-details-inner-area .comment-area-full-wrapper .user-comment-area .comment-list .has-children {
        padding-left: 20px;
    }

    .blog-details-area-wrapper .grid-item .row .col-md-6 {
        margin-top: 30px;
    }

    .blog-details-area-wrapper .grid-item .row .col-md-6:nth-child(1) {
        margin-top: 0px;
    }

    .header-area-wrapper .header-area.index-03 .container .header-content {
        min-height: 700px;
    }

    .three-column .col-lg-4:nth-child(2) {
        margin-top: 30px;
    }

    .header-area-wrapper .header-area.index-03 .container .header-content .content .main-title {
        font-size: 65px;
        line-height: 85px;
    }

    .row.xl-four-column .col-sm-11 {
        margin-top: 30px;
    }

    .three-column .col-sm-6:nth-child(2) {
        margin-top: 0;
    }

    .blog-grid-area-wrapper.food-details .blog-grid.style-01 .img-box .background-img {
        height: 185px;
    }

    .post-meta .post-meta-list .post-meta-item {
        font-size: 14px;
    }

    .blog-details-area-wrapper .blog-details-inner-area .main-title {
        font-size: 40px;
        line-height: 50px;
    }
}


/* medium tablet layout 599px */

@media only screen and (max-width: 599px) {

    .product-modal {
        width: 480px;
    }

    /* home page 03 */

    .header-area-wrapper .header-area.index-03 .header-content {
        min-height: 440px;
    }

    .header-area-wrapper .header-area.index-03 .header-content .content .main-title {
        font-size: 70px;
        line-height: 80px;
    }

    .navbar-area.nav-style-02 .nav-container .nav-right-content ul li .notification:hover .notification-box {
        transform: scale(1) translateX(50%);
        opacity: 1;
        visibility: visible;
        right: 50%;
    }

    .header-area-wrapper .header-area.index-03 .container .header-content .content .main-title {
        font-size: 65px;
        line-height: 90px;
    }

    .blog-details-area-wrapper .blog-details-inner-area .main-title {
        font-size: 35px;
        line-height: 45px;
    }
}

/* medium tablet layout 575px */

@media only screen and (max-width: 575px) {

    /* home page 01 */

    .navbar-area .nav-container .nav-right-content ul li .btn-default {
        font-size: 16px;
        padding: 3px 16px 3px;
    }

    .navbar-area.nav-style-02 .nav-container .logo-wrapper a img {
        max-width: 110px;
    }

    .header-area-wrapper .header-area.index-01 .custom-container-01 .header-content {
        min-height: 560px;
        padding-top: 40px;
    }

    .header-area-wrapper .header-area.index-01 .custom-container-01 .header-content .content {
        max-width: 100%;
    }

    .header-area-wrapper .header-area.index-01 .custom-container-01 .header-content .content .main-title {
        font-size: 52px;
        line-height: 70px;
    }

    .popular-category-area-start .row.three-column .col-lg-4:nth-child(2) {
        margin-top: 30px;
    }

    .single-exclusive-item.style-01 {
        flex-direction: column;
    }

    .single-exclusive-item.style-01 .img-box {
        max-width: 100%;
    }

    .single-exclusive-item.style-01 .img-box img {
        width: 100%;
    }

    .featured-brand-item-wrap.style-01 .single-brand-item {
        width: 50%;
    }

    /* home page 02 */

    .header-area-wrapper .header-area.index-02 .header-content .content {
        max-width: 100%;
    }

    .header-area-wrapper .header-area.index-02 .header-content {
        min-height: 670px;
    }

    .header-area-wrapper .header-area.index-02 .header-content .content .main-title {
        font-size: 58px;
        line-height: 75px;
    }

    .single-featured-item.style-02 .img-box img {
        width: 100%;
    }

    .single-featured-item.style-02 .img-box img {
        width: 100%;
    }

    .row .col-12:nth-child(2) {
        margin-top: 30px;
    }

    /* home page 03 */

    .header-area-wrapper .header-area.index-03 .header-content .content .main-title {
        font-size: 60px;
        line-height: 75px;
    }

    /* blog grid page */

    .blog-grid.style-01 .img-box img {
        width: 100%;
    }

    /* contact page */

    .get-in-touch-wrapper {
        padding: 30px;
    }

    /* about us */

    .counter-area-wrapper .row .col-sm-3 {
        margin-top: 25px;
    }

    .counter-area-wrapper .row .col-sm-3:nth-child(1) {
        margin-top: 0px;
    }

    .about-area-wrapper .content-wrap .content .title {
        font-size: 36px;
        line-height: 46px;
    }

    .section-title-wrapper.style-01 .section-title-main {
        font-size: 32px;
    }

    /* blog details */

    .blog-details-area-wrapper.style-02 .blog-details-inner-area .main-img-box .background-img {
        height: 400px;
    }

    .header-area-wrapper .header-area.index-03 .container .header-content .content .main-title {
        font-size: 60px;
        line-height: 85px;
    }

    .header-area-wrapper .header-area.index-03 .container .header-content .content {
        padding-top: 45px;
    }

    .header-area-wrapper .header-area.index-03 .container .header-content {
        min-height: 670px;
    }
}

/* medium tablet layout 450px */

@media only screen and (max-width: 450px) {

    .product-modal {
        width: 400px;
    }
    .topbar-area .topbar-inner .left-content .topbar-item .contact .contact-list .contact-item.phone {
        display: none;
    }
    /* home page 01 */

    .navbar-area.nav-style-02 .nav-container .nav-right-content ul li .notification {
        display: none;
    }

    .navbar-area.nav-style-02 .nav-container .nav-right-content ul li+li {
        margin-left: 0;
        margin-top: 7px;
    }

    .navbar-area.nav-style-02 .nav-container .nav-right-content {
        left: 65%;
    }

    .navbar-area .nav-container .nav-right-content ul li .btn-default {
        font-size: 12px;
        padding: 0px 13px 0px;
    }

    .section-title-wrapper.style-01 {
        flex-direction: column;
        align-items: flex-start;
    }

    .section-title-wrapper .btn-wrapper {
        margin-top: 10px;
    }

    /* home page 03 */

    .header-area-wrapper .header-area.index-03 .header-content .content .main-title {
        font-size: 55px;
        line-height: 70px;
    }

    .search.combained.v-02 form .form-group .search-btn .extra {
        display: none;
    }

    .header-area-wrapper .header-area.index-03 .container .header-content .content .main-title {
        font-size: 55px;
        line-height: 70px;
    }

    /* about us page */

    .about-area-wrapper .content-wrap .img-box .background-img {
        height: 340px;
    }

    /* blog details 01 */

    .blog-details-area-wrapper.style-02 .blog-details-inner-area .main-title {
        font-size: 38px;
        line-height: 48px;
    }

    .blog-details-area-wrapper .blog-details-inner-area .quote .quote-text {
        font-size: 25px;
        line-height: 35px;
    }

    .single-special-item .left-content {
        align-items: flex-start;
        flex-direction: column;
    }
}


/* mobile tablet layout 414px */

@media only screen and (max-width: 414px) {
    .product-modal {
        width: 350px;
    }

    /* home page 01 */

    .navbar-area.nav-style-02 .nav-container .nav-right-content {
        display: none;
    }

    .header-area-wrapper .header-area.index-01 .custom-container-01 .header-content .content .main-title {
        font-size: 48px;
        line-height: 60px;
    }

    .featured-brand-item-wrap.style-01 .single-brand-item {
        flex-direction: column;
        align-items: flex-start;
    }

    .featured-brand-item-wrap.style-01 .single-brand-item .details {
        margin-top: 10px;
    }

    /* home page 02 */

    .header-area-wrapper .header-area.index-02 .header-content .content .main-title {
        font-size: 55px;
        line-height: 72px;
    }

    .header-content .search.combained form .form-group .search-btn {
        padding-left: 18px;
        padding-right: 18px;
    }

    /* home page 03 */

    .header-area-wrapper .header-area.index-03 .header-content {
        padding-top: 100px;
    }

    .newsletter-area-wrapper .container .title {
        font-size: 28px;
    }

    .header-area-wrapper .header-area.index-03 .header-content .content .main-title {
        font-size: 50px;
        line-height: 60px;
    }

    .header-area.index-03 .header-content .content .search.combained.v-02.ex .form-group {
        flex-direction: column !important;
        background-color: transparent;
    }

    .header-area.index-03 .header-content .content .search.combained.v-02.ex .form-group input {
        width: 100%;
        background-color: rgb(243, 243, 243);
        min-height: 50px;
        max-height: 50px;
        border-radius: 30px;
        padding-left: 20px;
        padding-right: 20px;
        border-right: 0;
    }

    .header-area.index-03 .header-content .content .search.combained.v-02.ex .form-group input::placeholder {
        font-size: 16px;
    }

    .header-area.index-03 .header-content .content .search.combained.v-02.ex .form-group select {
        width: 100%;
        background-color: rgb(243, 243, 243);
        height: 50px;
        margin-top: 15px;
        border-radius: 30px;
        appearance: none;
        padding-left: 20px;
        padding-right: 20px;
    }

    .header-area.index-03 .header-content .content .search.combained.v-02.ex .form-group button {
        margin-left: 0;
        margin-top: 15px;
        width: 100%;
        height: 50px;
        line-height: 46px;
    }

    /* blog details */

    .blog-details-area-wrapper .blog-details-inner-area .main-img-box .background-img {
        height: 400px;
    }

    .header-area-wrapper .header-area.index-01 .header-content .content .main-title {
        font-size: 52px;
        line-height: 65px;;
    }
}


/* mobile tablet layout 375px */

@media only screen and (max-width: 375px) {
    .product-modal {
        width: 290px;
    }

    .product-modal .social-link-list  {
        display: none;
    }
    /* home page 01 */

    .topbar-area .topbar-inner .left-content .topbar-item {
        margin-right: 0;
    }

    .navbar-area.nav-style-02 .nav-container .logo-wrapper a img {
        max-width: 135px;
    }

    .header-area-wrapper .header-area.index-01 .custom-container-01 .header-content .content .main-title {
        font-size: 45px;
        line-height: 60px;
    }

    .section-title-wrapper.style-01 .section-title-main {
        font-size: 32px;
    }

    .recent-list li {
        font-size: 16px;
    }

    /* home page 02 */

    .section-title-wrapper.style-02 .section-title-main {
        font-size: 32px;
    }

    /* about us page */

    .about-area-wrapper .content-wrap .content .title {
        font-size: 34px;
        line-height: 44px;
    }

    /* blog details 02 */

    .blog-details-area-wrapper.style-02 .blog-details-inner-area .main-title {
        font-size: 35px;
        line-height: 45px;
    }

    .blog-details-area-wrapper .blog-details-inner-area .quote {
        padding: 0;
    }

    .single-featured-item.style-01 .img-box .coupon-code-01 {
        top: 60%;
        padding: 6px 16px;
    }

    .blog-details-area-wrapper .blog-details-inner-area .main-title {
        font-size: 32px;
        line-height: 38px;
    }

    .about-area-wrapper .content-wrap .content .title {
        font-size: 32px;
        line-height: 46px;
    }
}


/* mobile tablet layout 360px */

@media only screen and (max-width: 360px) {

    /* home page 01 */

    .header-area-wrapper .header-area.index-01 .custom-container-01 .header-content .content .main-title {
        font-size: 40px;
        line-height: 56px;
    }

    .header-area-wrapper .header-area.index-01 .custom-container-01 .header-content {
        min-height: 540px;
    }

    .header-content .search.combained form .form-group .search-btn {
        padding-left: 18px;
        padding-right: 18px;
    }

    .recent-list li {
        margin-right: 20px;
    }

    /* home page 02 */

    .header-area-wrapper .header-area.index-02 .header-content .content .main-title {
        font-size: 47px;
        line-height: 60px;
    }

    /* home page 03 */

    .header-area-wrapper .header-area.index-03 .header-content .content .main-title {
        font-size: 45px;
        line-height: 54px;
    }

    /* blog grid page */

    .breadcrumb-area .breadcrumb-inner .content .title {
        font-size: 32px;
    }

    .footer-area .footer-top .footer-widget .logo-wrapper img {
        max-width: 140px;
    }

    /* blog details */

    .widget-area-wrapper .widget .widget-offer .content .bottom-content-last .btn-default {
        font-size: 16px;
    }

    .header-area-wrapper .header-area.index-02 .header-content {
        min-height: 570px;
    }
}

/* mobile tablet layout 340px */

@media only screen and (max-width: 340px) {

    /* home page 01 */

    .topbar-area .topbar-inner .right-content .topbar-item {
        margin-left: 15px;
    }

    /* product page */

    .single-featured-item.style-01 .content .bottom-content .left-content .pricing .price {
        font-size: 24px;
    }

    .single-featured-item.style-01 .content .bottom-content .left-content .pricing del {
        font-size: 16px;
    }
}


/* mobile tablet layout 330px */

@media only screen and (max-width: 330px) {

    /* home page 01 */

    .navbar-area.nav-style-02 .nav-container .navbar-toggler {
        height: 45px;
    }

    .section-title-wrapper.style-01 .section-title-main {
        font-size: 30px;
        line-height: 40px;
    }

    .topbar-area .topbar-inner .contact .contact-list .contact-item a .icon {
        display: none;
    }

    .recent-list li {
        margin-right: 15px;
    }

    /* home page 02 */

    .header-area-wrapper .header-area.index-02 .header-content .content .main-title {
        font-size: 46px;
        line-height: 60px;
    }

    /* about us page */

    .about-area-wrapper .content-wrap .img-box .background-img {
        height: 300px;
    }
}


/* mobile tablet layout 320px */

@media only screen and (max-width: 320px) {

    /* home page 01 */

    .header-area-wrapper .header-area.index-01 .custom-container-01 .header-content .content .main-title {
        font-size: 38px;
        line-height: 53px;
    }

    .header-area-wrapper .header-area.index-01 .custom-container-01 .header-content {
        min-height: 500px;
        padding-top: 24px;
    }
}