/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
:root {
  --main-color-one: #0088DD;
  --main-color-two: #FF563F;
  --main-color-three: #FF805D;
  --secondary-color: #FF5E4D;
  --tertiary-color: #333333;
  --bg-light-one: #F5F9FE;
  --bg-light-two: #FEF8F3;
  --bg-dark-one: #040A1B;
  --bg-dark-two: #22253F;
  --heading-color: #333333;
  --paragraph-color: #828282;
  --heading-font: 'Titillium Web', sans-serif;
  --body-font: 'Titillium Web', sans-serif;
  --extra-font: 'Roboto', sans-serif;
}

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  overflow-x: hidden;
  font-family: var(--body-font);
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  -moz-osx-font-smoothing: grayscale;
  /* Firefox */
  -webkit-font-smoothing: antialiased;
  /* WebKit  */
}

body {
  margin: 0;
  color: var(--paragraph-color);
  overflow-x: hidden;
  font-family: var(--body-font);
  font-size: 16px;
  position: relative;
  font-weight: 400;
}

h1 {
  font-size: 48px;
  line-height: 1.0833333333333333;
}

h2 {
  font-size: 36px;
  line-height: 1.4444444444444444;
}

h3 {
  font-size: 24px;
  line-height: 1.0833333333333333;
}

h4 {
  font-size: 20px;
  line-height: 1.2380952380952381;
}

h5 {
  font-size: 16px;
  line-height: 1.0833333333;
}

h6 {
  font-size: 14px;
  line-height: 1.0833333333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
  color: var(--heading-color);
  margin-bottom: 0px;
}

p {
  color: var(--paragraph-color);
  font-family: var(--body-font);
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  line-height: 1.6;
  margin-bottom: 0px;
  font-weight: 400;
}

a {
  color: inherit;
  text-decoration: none;
  color: var(--paragraph-color);
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  outline: none;
  color: inherit;
}

pre {
  margin-top: 15px;
  background-color: whitesmoke;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiNmNWY1ZjUiLz48c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2U2ZTZlNiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==);
  background-size: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #f5f5f5), color-stop(50%, #e6e6e6));
  background-image: -webkit-linear-gradient(#f5f5f5 50%, #e6e6e6 50%);
  background-image: linear-gradient(#f5f5f5 50%, #e6e6e6 50%);
  background-size: 38px 38px;
  border: 1px solid #d4d4d4;
  display: block;
  line-height: 19px;
  margin-bottom: 20px;
  overflow: visible;
  overflow-y: hidden;
  padding: 0 0 0 4px;
  word-break: break-word;
}

a i {
  padding: 0 2px;
}

img {
  max-width: 100%;
  height: auto;
}

ol:not([class]) {
  margin-bottom: 20px;
}

ol:not([class]) ol {
  margin-bottom: 0px;
}

ul ol:not([class]) {
  margin-bottom: 0px;
}

dl,
ol,
ul {
  padding-left: 0px;
}

ol ol,
ol ul,
ul ol,
ul ul {
  margin-top: 0px;
}

ul {
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

/*input and button type focus outline disable*/

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="number"]:focus,
textarea:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
select:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid #ddd;
}

code {
  color: #faa603;
}

.check-list-02 {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    display: block;
    padding-left: 20px;
    position: relative;
    z-index: 0;

    &:after {
      position: absolute;
      left: 0;
      top: 0;
      font-family: "Font Awesome 5 Free";
      content: "\f00c";
      color: var(--main-color-one);
    }
  }
}

.check-list {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    display: block;
    padding-left: 20px;
    position: relative;
    z-index: 0;

    &:after {
      position: absolute;
      left: 0;
      top: 0;
      font-family: "Font Awesome 5 Free";
      content: "\f105";
      color: var(--main-color-one);
    }
  }
}

.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
  clear: both;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
  float: left;
  width: 50%;
  text-align: center;
  height: 50px;
  border-radius: 5px;
  line-height: 50px;
  color: #fff;
  transition: .3s ease-in;
  border: 1px solid #e2e2e2;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
  float: right;
  width: 50%;
  border: 1px solid #e2e2e2;
  text-align: center;
  height: 50px;
  border-radius: 5px;
  line-height: 50px;
  color: #fff;
  transition: .3s ease-in;
}

.comment-navigation .nav-previous>a,
.posts-navigation .nav-previous>a,
.post-navigation .nav-previous>a,
.comment-navigation .nav-next>a,
.posts-navigation .nav-next>a,
.post-navigation .nav-next>a {
  transition: .3s ease-in;
  color: var(--paragraph-color);
}

.comment-navigation .nav-previous:hover,
.posts-navigation .nav-previous:hover,
.post-navigation .nav-previous:hover,
.comment-navigation .nav-next:hover,
.posts-navigation .nav-next:hover,
.post-navigation .nav-next:hover {
  background-color: var(--main-color-one);
  color: #fff;

}

.comment-navigation .nav-previous:hover>a,
.posts-navigation .nav-previous:hover>a,
.post-navigation .nav-previous:hover>a,
.comment-navigation .nav-next:hover>a,
.posts-navigation .nav-next:hover>a,
.post-navigation .nav-next:hover>a {
  color: #fff;
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/

/* Text meant only for screen readers. */

.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
  /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  clip-path: none;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */

#content[tabindex="-1"]:focus {
  outline: 0;
}

/*--------------------------------------------------------------
# Globals
--------------------------------------------------------------*/

.padding-left-0 {
  padding-left: 0;
}

.padding-right-0 {
  padding-left: 0;
}

.gray-bg {
  background-color: #f5f5f5;
}

.secondary-bg {
  background-color: var(--secondary-color);
}

//== padding classes
.padding-x-0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.padding-y-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.padding-top-0 {
  padding-top: 0px !important;
}

.padding-top-10 {
  padding-top: 10px;
}

.padding-top-20 {
  padding-top: 20px;
}

.padding-top-25 {
  padding-top: 25px;
}

.padding-top-30 {
  padding-top: 30px;
}

.padding-top-35 {
  padding-top: 35px;
}

.padding-top-40 {
  padding-top: 40px;
}

.padding-top-45 {
  padding-top: 45px;
}

.padding-top-55 {
  padding-top: 55px;
}

.padding-top-50 {
  padding-top: 50px;
}

.padding-top-60 {
  padding-top: 60px;
}

.padding-top-65 {
  padding-top: 65px;
}

.padding-top-70 {
  padding-top: 70px;
}

.padding-top-75 {
  padding-top: 75px;
}

.padding-top-80 {
  padding-top: 80px;
}

.padding-top-85 {
  padding-top: 85px;
}

.padding-top-90 {
  padding-top: 90px;
}

.padding-top-95 {
  padding-top: 95px;
}

.padding-top-100 {
  padding-top: 100px;
}

.padding-top-103 {
  padding-top: 103px;
}

.padding-top-105 {
  padding-top: 105px;
}

.padding-top-110 {
  padding-top: 110px;
}

.padding-top-115 {
  padding-top: 115px;
}

.padding-top-120 {
  padding-top: 120px;
}

.padding-top-140 {
  padding-top: 140px;
}

.padding-top-150 {
  padding-top: 150px;
}

.padding-top-160 {
  padding-top: 160px;
}

.padding-top-175 {
  padding-top: 175px;
}

.padding-top-180 {
  padding-top: 180px;
}

.padding-top-190 {
  padding-top: 190px;
}

.padding-top-210 {
  padding-top: 210px;
}

.padding-top-260 {
  padding-top: 260px;
}

.padding-top-390 {
  padding-top: 390px;
}

//==padding bottom
.padding-bottom-10 {
  padding-bottom: 10px;
}

.padding-bottom-15 {
  padding-bottom: 15px;
}

.padding-bottom-20 {
  padding-bottom: 20px;
}

.padding-bottom-25 {
  padding-bottom: 25px;
}

.padding-bottom-30 {
  padding-bottom: 30px;
}

.padding-bottom-35 {
  padding-bottom: 35px;
}

.padding-bottom-40 {
  padding-bottom: 40px;
}

.padding-bottom-45 {
  padding-bottom: 45px;
}

.padding-bottom-50 {
  padding-bottom: 50px;
}

.padding-bottom-55 {
  padding-bottom: 55px;
}

.padding-bottom-60 {
  padding-bottom: 60px;
}

.padding-bottom-65 {
  padding-bottom: 65px;
}

.padding-bottom-70 {
  padding-bottom: 70px;
}

.padding-bottom-75 {
  padding-bottom: 75px;
}

.padding-bottom-80 {
  padding-bottom: 80px;
}

.padding-bottom-85 {
  padding-bottom: 85px;
}

.padding-bottom-90 {
  padding-bottom: 90px;
}

.padding-bottom-95 {
  padding-bottom: 95px;
}

.padding-bottom-100 {
  padding-bottom: 100px;
}

.padding-bottom-110 {
  padding-bottom: 110px;
}

.padding-bottom-105 {
  padding-bottom: 105px;
}

.padding-bottom-115 {
  padding-bottom: 115px;
}

.padding-bottom-120 {
  padding-bottom: 120px;
}

.padding-bottom-130 {
  padding-bottom: 130px;
}

.padding-bottom-140 {
  padding-bottom: 140px;
}

.padding-bottom-135 {
  padding-bottom: 135px;
}

.padding-bottom-190 {
  padding-bottom: 190px;
}

.padding-bottom-200 {
  padding-bottom: 200px;
}

.padding-bottom-227 {
  padding-bottom: 227px;
}

.padding-bottom-250 {
  padding-bottom: 280px;
}

.padding-bottom-285 {
  padding-bottom: 285px;
}

.padding-bottom-150 {
  padding-bottom: 150px;
}

.padding-bottom-160 {
  padding-bottom: 160px;
}

.padding-bottom-165 {
  padding-bottom: 165px;
}

.padding-bottom-170 {
  padding-bottom: 170px;
}

.padding-bottom-180 {
  padding-bottom: 180px;
}

.padding-bottom-215 {
  padding-bottom: 215px;
}

.padding-bottom-295 {
  padding-bottom: 295px;
}

.padding-bottom-300 {
  padding-bottom: 300px;
}

.padding-bottom-320 {
  padding-bottom: 320px;
}

.padding-bottom-460 {
  padding-bottom: 460px;
}

.margin-top-minus-90 {
  margin-top: -90px;
}

.margin-top-minus-100 {
  margin-top: -100px;
}

.margin-top-110 {
  margin-top: 110px;
}

.margin-top-120 {
  margin-top: 120px;
}

.margin-top-150 {
  margin-top: 150px;
}

.margin-top-160 {
  margin-top: 160px;
}

//== padding both

.padding-x-0 {
  padding-left: 0;
  padding-right: 0;
}

.padding-y-0 {
  padding-top: 0;
  padding-bottom: 0;
}

.padding-120 {
  padding-top: 120px;
  padding-bottom: 120px;
}

.padding-110 {
  padding-top: 110px;
  padding-bottom: 110px;
}

.padding-100 {
  padding-top: 100px;
  padding-bottom: 100px;
}

.padding-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.padding-30 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.padding-40 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.padding-50 {
  padding-top: 50px;
  padding-bottom: 50px;
}

.padding-60 {
  padding-top: 60px;
  padding-bottom: 60px;
}

.padding-65 {
  padding-top: 65px;
  padding-bottom: 65px;
}

.padding-70 {
  padding-top: 70px;
  padding-bottom: 70px;
}

.padding-80 {
  padding-top: 80px;
  padding-bottom: 80px;
}

.padding-90 {
  padding-top: 90px;
  padding-bottom: 90px;
}

.padding-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

//== margin classes

.margin-top-10 {
  margin-top: 10px;
}

.margin-top-15 {
  margin-top: 15px;
}

.margin-top-20 {
  margin-top: 20px;
}

.margin-top-30 {
  margin-top: 30px;
}

.margin-top-35 {
  margin-top: 35px;
}

.margin-top-40 {
  margin-top: 40px;
}

.margin-top-50 {
  margin-top: 50px;
}

.margin-top-55 {
  margin-top: 55px;
}

.margin-top-60 {
  margin-top: 60px;
}

.margin-top-70 {
  margin-top: 70px;
}

.margin-top-80 {
  margin-top: 80px;
}

.margin-top-90 {
  margin-top: 90px;
}

.margin-top-100 {
  margin-top: 100px;
}

//== margin bottom

.margin-bottom-0 {
  margin-bottom: 0px !important;
}

.margin-bottom-10 {
  margin-bottom: 10px;
}

.margin-bottom-15 {
  margin-bottom: 15px;
}

.margin-bottom-20 {
  margin-bottom: 20px !important;
}

.margin-bottom-25 {
  margin-bottom: 25px !important;
}

.margin-bottom-30 {
  margin-bottom: 30px;
}

.margin-bottom-35 {
  margin-bottom: 35px;
}

.margin-bottom-40 {
  margin-bottom: 40px;
}

.margin-bottom-45 {
  margin-bottom: 45px;
}

.margin-bottom-50 {
  margin-bottom: 50px;
}

.margin-bottom-55 {
  margin-bottom: 55px;
}

.margin-bottom-60 {
  margin-bottom: 60px !important;
}

.margin-bottom-70 {
  margin-bottom: 70px;
}

.margin-bottom-80 {
  margin-bottom: 80px;
}

.margin-bottom-90 {
  margin-bottom: 90px;
}

.margin-bottom-100 {
  margin-bottom: 100px;
}

.margin-bottom-120 {
  margin-bottom: 120px;
}

.margin-bottom-150 {
  margin-bottom: 150px;
}

.margin-top-100 {
  margin-bottom: 100px;
}

.margin-top-120 {
  margin-top: 120px;
}

.min-height-600 {
  min-height: 600px;
}

.overflow-hidden {
  overflow: hidden;
}

/*--------------------------------------------------------------
# Height & Width
--------------------------------------------------------------*/
.h-100 {
  height: 100%;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.aligncenter,
.alignleft,
.alignright {
  display: block;
  margin: 1.5rem auto;
  clear: both;
}

.alignleft {
  float: left;
  margin-right: 20px;
}

.alignright {
  float: right;
  margin-left: 20px;
}

.aligncenter {
  display: block;
}

.alignnone {
  margin: 1.75em auto 1.75em;
}

.alignfull {
  margin: 1.5em 0;
  max-width: 100%;
}

.alignwide {
  max-width: 1100px;
}

.alignnone {
  height: auto;
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/

.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
  content: "";
  display: table;
  table-layout: fixed;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
  clear: both;
}

/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/

.sticky {
  display: block;
}

.updated:not(.published) {
  display: none;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/

.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}

/* Make sure embeds and iframes fit their containers. */

embed,
iframe,
object {
  max-width: 100%;
}

/* Make sure logo link wraps around logo image. */

.custom-logo-link {
  display: inline-block;
}

/*----------------------------------------
    # Unit test
------------------------------------------*/

.wp-link-pages {
  margin-bottom: 30px;
  margin-top: 25px;

  a {
    margin: 0 5px;
    transition: .3s ease-in;
    border: 1px solid #e2e2e2;
    padding: 5px 15px;
    display: inline-block;

    &:hover {
      background-color: var(--main-color-one);
      color: #fff;
      border-color: var(--main-color-one);
    }
  }

  span {
    border: 1px solid #e2e2e2;
    padding: 5px 15px;
    display: inline-block;

    &:first-child {
      margin-right: 5px;
    }
  }

  .current {
    background-color: var(--main-color-one);
    color: #fff;
    border-color: var(--main-color-one);
  }
}


//Post Password Form

.post-password-form {
  input {
    display: block;
    border: 1px solid #e2e2e2;
    height: 50px;
    border-radius: 3px;
    padding: 0 20px;
  }

  label {
    font-weight: 600;
    color: #333;
  }

  input[type=submit] {
    width: 100px;
    height: 50px;
    background-color: var(--main-color-one);
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    border: none;
    cursor: pointer;
    transition: .3s ease-in;
    display: inline-block;

    &:hover {
      background-color: #121A2F;
    }
  }
}


.footer-widget .table td,
.footer-widget .table th {
  padding: 0.50rem !important;
}

// search popup css

.search-popup {
  &.show {
    position: relative;
    z-index: 9;

    .search-popup-inner {
      visibility: visible;
      opacity: 1;

      form {
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }

  .search-popup-inner {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    background-color: rgba(0, 0, 0, .5);
    visibility: hidden;
    opacity: 0;
    transition: all linear 0.08s;

    form {
      position: absolute;
      padding: 120px 40px;
      width: 35%;
      background-color: #fff;
      display: flex;
      top: 55%;
      transform: translateY(-50%);
      transition: all linear 0.2s;

      .search-popup-close-btn {
        position: absolute;
        right: 0;
        top: 0;
        width: 30px;
        height: 30px;
        background-color: #dc3545;
        text-align: center;
        line-height: 30px;
        color: #fff;
        font-size: 20px;
        cursor: pointer;

      }

      .form-group {
        margin-bottom: 0;
        width: 100%;

        input {
          height: 50px;
        }
      }

      .search-btn {
        display: inline-block;
        border: none;
        height: 50px;
        width: 70px;
        border-radius: 3px;
        color: #fff;
        background-color: var(--main-color-two);
        transition: .3s all;
        margin-left: 18px;

        i {
          display: block;
        }
      }
    }
  }
}

.info {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
}

// slick-slider-item-set start

.slick-main {
  margin-right: -15px;
  margin-left: -15px;
  position: relative;

  .slick-item {
    padding-right: 15px !important;
    padding-left: 15px !important;
  }

  &.dots-style-01 {

    .slick-dots {
      position: absolute;
      bottom: -70px;
      left: 50%;
      transform: translateX(-50%);

      button {
        display: none;
      }

      li {
        display: inline-block;
        margin: 0 5px;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #909090;
        cursor: pointer;
        transition: all linear 0.6s;

        &.slick-active {
          width: 30px;
          border-radius: 25px;
          background-color: var(--main-color-two);
        }
      }
    }
  }

  &.dots-style-02 {

    .slick-dots {
      position: absolute;
      bottom: -70px;
      left: 50%;
      transform: translateX(-50%);

      button {
        display: none;
      }

      li {
        display: inline-block;
        margin: 0 5px;
        width: 12px;
        height: 12px;
        border-radius: 2px;
        background-color: #909090;
        cursor: pointer;
        transition: all linear 0.6s;

        &.slick-active {
          background-color: var(--main-color-two);
        }
      }
    }
  }

  &.arrow-style-01 {
    .slick-arrow {
      cursor: pointer;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 1;
      display: inline-block;
      width: 40px;
      height: 40px;
      line-height: 42px;
      border-radius: 50%;
      background-color: rgb(220, 217, 217);
      text-align: center;
      transition: all linear 0.2s;

      i {
        font-size: 18px;
      }

      &:hover {
        background-color: #fff;
      }
    }

    .prev-arrow,
    .prev-icon {
      left: -40px;
    }

    .next-arrow,
    .next-icon {
      right: -40px;
    }
  }

  &.arrow-style-02 {
    .slick-arrow {
      cursor: pointer;
      position: absolute;
      top: 50%;
      z-index: 1;
      display: inline-block;
      transition: all linear 0.2s;

      i {
        font-size: 18px;
      }

      &:hover {
        background-color: #fff;
      }
    }

    .prev-arrow,
    .prev-icon {
      right: 50px;
    }

    .next-arrow,
    .next-icon {
      right: 15px;
    }
  }
}

.to-top-row-right {
  display: flex;

  .slick-arrow {
    transition: all linear 0.2s;
    cursor: pointer;
    color: #828282;
    font-size: 24px;
  }

  .prev-icon {
    margin-right: 10px;
  }

  &.main-color-one {
    .slick-arrow {

      i {
        font-size: 24px;
      }

      &:hover {
        color: var(--main-color-two);
      }
    }
  }

  &.main-color-two {
    .slick-arrow {
      &:hover {
        color: var(--main-color-two);
      }
    }
  }

  &.main-color-three {
    .slick-arrow {
      &:hover {
        color: var(--main-color-three);
      }
    }
  }
}

// slick-slider-item-set end

.title {
  color: var(--heading-color);
}

// custom bg color

.dark-bg-01 {
  background-color: var(--bg-dark-one);
}

.dark-bg-02 {
  background-color: var(--bg-dark-two);
}

.light-bg-01 {
  background-color: #FFF8F2;
}

.light-bg-02 {
  background-color: #FEF3F4;
}

.light-bg-03 {
  background-color: #F6F4FE;
}

.light-bg-04 {
  background-color: #F5F9FE;
}

.bg-white {
  background-color: #FFFFFF;
}

.bg-color-a {
  background-color: #F3F9FE;
}

.bg-color-b {
  background-color: #FFEBE7;
}

.bg-color-c {
  background-color: #E5F8FB;
}

.bg-color-d {
  background-color: #FDF5EF;
}

.bg-color-e {
  background-color: #E3F2FC;
}

// custom color

.color-a {
  background-color: #BD63F9;
}

.color-b {
  background-color: #FC573B;
}

.color-c {
  background-color: #25C6DA;
}

.color-d {
  background-color: #6A75C4;
}

.color-e {
  background-color: #1491EA;
}


.border-radius-5 {
  border-radius: 5px;
}

.border-radius-10 {
  border-radius: 10px;
}

.border-radius-none {
  border-radius: 0 !important;
}

// grid space control.

.xl-four-column {
  .col-xl-3 {
    margin-top: 30px;

    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(4) {
      margin-top: 0;
    }
  }
}

.four-column {
  .col-lg-3 {
    margin-top: 30px;

    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(4) {
      margin-top: 0;
    }
  }
}

.three-column {
  .col-lg-4 {
    margin-top: 30px;

    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3) {
      margin-top: 0;
    }
  }
}

.two-column {
  .col-lg-6 {
    margin-top: 30px;

    &:nth-child(1),
    &:nth-child(2) {
      margin-top: 0;
    }
  }
}

.one-column {
  .col-lg-12 {
    margin-top: 30px;

    &:nth-child(1) {
      margin-top: 0;
    }
  }
}

// font size

.font-size-16 {
  font-size: 16px !important;
  line-height: 26px !important;
}

.font-size-18 {
  font-size: 18px !important;
  line-height: 28px !important;
}

.font-size-20 {
  font-size: 20px !important;
  line-height: 30px !important;
}

.font-size-22 {
  font-size: 22px !important;
  line-height: 32px !important;
}

.font-size-24 {
  font-size: 24px !important;
  line-height: 34px !important;
}

.font-size-26 {
  font-size: 26px !important;
  line-height: 36px !important;
}

.font-size-32 {
  font-size: 32px !important;
  line-height: 42px !important;
}

.font-size-42 {
  font-size: 42px !important;
  line-height: 60px !important;
}


// font weight

.font-weight-700 {
  font-weight: 700 !important;
}

.font-weight-600 {
  font-weight: 600 !important;
}

.font-weight-500 {
  font-weight: 500 !important;
}

.font-weight-400 {
  font-weight: 400 !important;
}


// background image 

.background-img {
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}

// animation keyframes


@keyframes myswing {
  0% {
    transform: rotate3d(0, 0, 1, 0deg);
  }

  20% {
    transform: rotate3d(0, 0, 1, 15deg);
  }

  40% {
    transform: rotate3d(0, 0, 1, -10deg);
  }

  60% {
    transform: rotate3d(0, 0, 1, 5deg);
  }

  80% {
    transform: rotate3d(0, 0, 1, -5deg);
  }

  100% {
    transform: rotate3d(0, 0, 1, 0deg);
  }
}

/*--------------------------------------------------------------
# project basis css start here
--------------------------------------------------------------*/

.custom-container-01 {
  max-width: 1820px;
}

.custom-container-02 {
  max-width: 1390px;
}

.custom-container-03 {
  max-width: 1620px;
}

.custom-container-04 {
  max-width: 1440px;
}

// section title 

.section-title-wrapper {
  position: relative;

  &.style-01 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 25px;
    position: relative;
    margin-bottom: 30px;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      background-color: #ddd;
      height: 2px;
      width: 100%;
    }

    &::before {
      content: "";
      position: absolute;
      z-index: 2;
      left: 0;
      bottom: -1px;
      height: 4px;
      width: 80px;
      background-color: var(--main-color-one);
    }

    .section-title-main {
      font-family: var(--heading-font);
      color: var(--heading-color);
      font-size: 36px;
      line-height: 50px;
      font-weight: 600;
      text-transform: initial;
    }

    &.v-02 {
      &::after {
        display: none;
      }

      &::before {
        background-color: var(--main-color-three);
      }
    }

    &.v-03 {
      &::after {
        display: none;
      }
    }

    &.main-color-two {
      &::before {
        background-color: var(--main-color-two);
      }
    }
  }

  &.style-02 {
    padding-bottom: 25px;
    position: relative;
    margin-bottom: 50px;
    text-align: center;

    &::before {
      content: "";
      position: absolute;
      z-index: 2;
      left: 50%;
      transform: translateX(-50%);
      bottom: -1px;
      height: 4px;
      width: 80px;
      background-color: var(--main-color-two);
      border-radius: 25px;
    }

    .section-title-main {
      font-family: var(--heading-font);
      color: var(--heading-color);
      font-size: 42px;
      line-height: 50px;
      font-weight: 600;
      text-transform: initial;
    }

    &.v-02 {
      &::after {
        display: none;
      }

      &::before {
        background-color: var(--main-color-three);
      }
    }

    &.v-03 {
      &::after {
        display: none;
      }
    }
  }

  .btn-wrapper {
    text-align: right;

    .view-all {
      color: #828282;
      display: inline-block;

      i {
        font-size: 24px;
        vertical-align: -3px;
        display: inline-block;
        padding-left: 2px;
      }

      &.main-color-two {
        transition: all linear 0.2s;

        &:hover {
          color: var(--main-color-two);
        }
      }
    }
  }

  &.has-siblings {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}


.top-right {
  position: absolute;
  top: 10px;
  right: 10px;
}

.top-left {
  position: absolute;
  top: 10px;
  left: 10px;
}

.top-left-02 {
  position: absolute;
  top: 10px;
  left: -25px;
}

.bottom-left {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.bottom-right {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.position-top-110 {
  position: relative;
  top: 110px;
}

.border-radius-5 {
  border-radius: 5px;
}

.border-radius-10 {
  border-radius: 10px;
}

.border-radius-15 {
  border-radius: 15px;
}

.border-radius-20 {
  border-radius: 20px;
}

.border-radius-25 {
  border-radius: 25px;
}

.border-radius-70 {
  border-radius: 70px !important;
}

.border-radius-0 {
  border-radius: 0 !important;
}


// coupon btn style

.overlay-hidden {
  overflow: hidden;
}

.coupon-01 {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  padding: 3px 25px 5px;
  border-radius: 0;
  background-color: var(--main-color-two);
  border: 0 !important;
  color: #fff;
  position: relative;
  overflow: hidden;
  display: inline-block;
 

  .overlay {
    position: absolute;
    top: 0;
    left: -7px;
    width: 100%;
    height: 100%;
    background-color: var(--main-color-three);
    font-size: 14px;
    line-height: 31px;
    text-align: center;
    transition: all ease-in-out 0.4s;

  }

  &:hover {
    .overlay {
      left: -100%;
    }
  }
}

.coupon-wrap {
  position: relative;
  display: inline-block;
  overflow: hidden;

  .coupon-02 {
    background-color: transparent !important;
    border-radius: 0 !important;
    border: 1px dashed #828282 !important;

  }

  .overlay {
    position: absolute;
    top: 0;
    left: -9px;
    width: 100%;
    height: 100%;
    background-color: var(--main-color-three);
    font-size: 18px;
    line-height: 51px;
    border: 1px solid var(--main-color-three);
    transition: all ease-in-out 0.4s;
  }

  &:hover {
    .overlay {
      left: -100%;
      color: #fff !important;
    }
  }

  &.v-02 {
    .coupon-02 {
      padding-left: 50px;
      padding-right: 50px;
      .overlay {
        left: 0px;
        border: none;
        background-color: transparent;

        .bg {
          position: absolute;
          right: 33px;
          top: 0;
          height: 100%;
          width: 100%;
          background-color: var(--main-color-three);
          z-index: 4;
          text-align: right;
          padding-right: 16px;
        }

        &::after {
          position: absolute;
          content: "";
          right: 0;
          top: 0;
          width: 0;
          height: 0;
          border-bottom: 33px solid #FF5E4D;
          border-right: 33px solid transparent;
          z-index: 3;
        }

        &::before {
          position: absolute;
          content: "";
          right: 0;
          top: 33px;
          width: 100%;
          height: 50px;
          background-color: var(--main-color-three);
        }
      }

      &:hover {
        .overlay {
          left: -100%;
          top: 100%;
          color: #fff !important;
        }
      }
    }
  }
}




// modal
.product-modal-wrap {
  opacity: 0;
  visibility: hidden;

  &.show {
    opacity: 1;
    visibility: visible;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    transition: all ease-out 0.2s;
    z-index: 5;

    .product-modal {
      top: 50%;
    }
  }

  // .product-modal {
  //   transition: all ease-out 0.2s;
  //   position: fixed;
  //   display: flex;
  //   width: 900px;
  //   padding: 25px;
  //   border: 8px solid #18171714;
  //   left: 50%;
  //   top: 65%;
  //   background-color: #fff;
  //   z-index: 99;
  //   transform: translate(-50%, -50%);

  //   .product-img {
  //     margin-right: 30px;
  //     width: 148%;
  //   }

  //   .content {
  //     .title {
  //       font-size: 28px;
  //       font-weight: 500;
  //       text-transform: capitalize;
  //     }

  //     .ratings {
  //       margin: 10px 0 13px;

  //       .icon {
  //         font-size: 16px;
  //         color: var(--main-color-one);
  //       }
  //     }

  //     .pricing {
  //       .list {
  //         .price {
  //           display: inline-block;
  //           margin-right: 5px;
  //           font-weight: 500;
  //         }
  //       }
  //     }

  //     .info {
  //       margin: 11px 0 16px;
  //     }

  //     .cart-option {
  //       display: flex;

  //       .input-group {
  //         width: 100px;
  //         height: 40px;
  //         display: inline-block;

  //         input {
  //           width: 100%;
  //           height: 100%;
  //           border-radius: 0;
  //           border-right: none;
  //         }
  //       }

  //       .add-cart-btn {
  //         display: inline-block;
  //         height: 40px;

  //         .add-to-cart {
  //           font-size: 18px;
  //           text-transform: capitalize;
  //           height: 100%;
  //           text-align: center;
  //           background-color: var(--main-color-one);
  //           display: inline-block;
  //           line-height: 40px;
  //           padding: 0 15px;
  //           color: #fff;
  //         }
  //       }
  //     }

  //     .product_meta {
  //       display: flex;
  //       flex-flow: column;
  //       margin-top: 18px;
  //     }
  //   }

  //   .close-btn {
  //     position: absolute;
  //     top: 0;
  //     right: 0;
  //     width: 25px;
  //     height: 25px;
  //     background-color: var(--main-color-one);
  //     text-align: center;
  //     cursor: pointer;

  //     .btn-x {
  //       display: inline-block;
  //       line-height: 25px;
  //       color: #fff;
  //       font-size: 18px;
  //     }
  //   }


  // }
}

.product-modal {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 5px solid #18171714;
  left: 50%;
  top: 60%;
  background-color: #fff;
  z-index: 99;
  max-width: 570px;
  transform: translate(-50%, -50%);
  text-align: center;
  transition: all ease-out 0.2s;

  .product-img {
    margin-top: 25px;
  }

  .content {
    .title {
      font-size: 24px;
      line-height: 26px;
      color: #333333;
      font-weight: 600;
      margin-top: 25px;
      margin-bottom: 15px;
      padding-left: 25px;
      padding-right: 25px;
    }

    .info {
      padding-left: 25px;
      padding-right: 25px;
    }

    .coupon-info {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 25px;
      padding-left: 25px;
      padding-right: 25px;
      flex-wrap: wrap;

      & > div {
        margin: 0 10px;
      }

      .copy-box {
        i {
          font-size: 22px;
          display: inline-block;
          background-color: rgba(221, 221, 221, 0.282);
          height: 33px;
          width: 31px;
          line-height: 33px;
          margin-bottom: 5px;
        }
      }

      .link-box {
        a {
          color: var(--secondary-color);
          display: inline-block;
          margin-bottom: 5px;
        }
      }
    }

    .expire-date {
      margin-top: 15px;
      margin-bottom: 15px;
      padding-left: 25px;
      padding-right: 25px;
      p {
        color: var(--secondary-color);
      }
     
      .color-text-02 {
        color: var(--paragraph-color);
      }
    }

    .pop-footer {
      display: flex;
      justify-content: space-between;
      border-top: 1px solid #ddd;
      padding:  20px 25px 0;
      flex-wrap: wrap;

      .left-content {
        display: flex;
        align-items: center;

        .star-feedback {
          display: flex;
          margin-left: 30px;
          
        }
        .star {
          .icon {
              display: inline-block;
              color: #FABE50;
              margin-right: 8px;
              font-size: 14px;
              line-height: 22px;
          }
      }

      .rating-count {
          font-family: var(--extra-font);
          font-size: 14px;
          line-height: 22px;
          color: #4F4F4F;
      }
      }
    }

    .bottom-footer {
      background-color: #dddddd38;
      padding: 5px 25px;
      margin-top: 25px;
      p {
        font-size: 14px;
        a {
          color: var(--secondary-color);
        }
      }
    }
  }

  .close-btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 27px;
    height: 28px;
    background-color: var(--main-color-one);
    text-align: center;
    cursor: pointer;

    .btn-x {
      display: inline-block;
      line-height: 22px;
      color: #fff;
      font-size: 18px;
    }
  }
}