/*----------------------------------------------
    # Nav bar 
----------------------------------------------*/

.navbar.navbar-area.white .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.50)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar.navbar-area.nav-style-01 .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.50)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar.navbar-area .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.50)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.mobile-logo {
  display: none;
}

@media only screen and (max-width: 991px) {
  .mobile-logo {
    display: block;
  }

  .desktop-logo {
    display: none !important;
  }
}

.navbar-area {
  padding: 0;

  &.nav-absolute {
    position: absolute;
    left: 0;
    width: 100%;
    top: 0px;
    z-index: 1;
  }

  &.nav-style-02 {
    background-color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    min-height: 70px;
    z-index: 2;

    &.has-topbar-65 {
      top: 65px;
    }

    &.has-topbar {
      top: 90px;
    }

    &.has-topbar-02 {
      top: 122px;
    }

    &.has-topbar-03 {
      top: 70px;
    }

    &.charity-nav-02 {
      background-color: transparent;

      .nav-container {
        padding: 0 0 0 20px;
        background-color: var(--main-color-one);

        .logo-wrapper {
          clip-path: initial;
          border-left: none;
          padding: 30px 70px;
          top: -45px;

          .mobile-logo {
            display: none;
          }
        }

        .nav-right-content {
          margin-left: 0;
          clip-path: initial;

          &::after {
            display: none;
          }
        }

        .navbar-collapse {
          .navbar-nav {
            li {
              a {

                &:hover {
                  color: var(--heading-color);
                }
              }

              &.current-menu-item {
                &::before {
                  color: var(--heading-color);
                }

                a {
                  color: var(--heading-color);
                }
              }

              a {
                color: $white;
              }
            }
          }
        }
      }
    }

    &.charity-nav-03 {
      background-color: transparent;

      .nav-container {
        padding: 0 0 0 20px;
        background-color: transparent;

        .logo-wrapper {
          position: initial;
          clip-path: initial;
          border: none;
          padding: 0;
          background-color: transparent;
        }

        .nav-right-content {
          margin-left: 0;
          clip-path: initial;
          background-color: transparent;

          &::after {
            display: none;
          }
        }

        .navbar-collapse {
          .navbar-nav {
            li {
              &.current-menu-item {
                &::before {
                  color: var(--main-color-one);
                }

                a {
                  color: var(--main-color-one);
                }
              }

              a {
                color: $white;
              }
            }
          }
        }
      }
    }

    .nav-container {
      background-color: var(--main-color-one);
      box-shadow: none;
      border-radius: 0;
      padding: 20px 20px;
      border-radius: 8px;

      &.nav-container-ex {
        max-width: 1212px;
        padding: 20px 55px;
      }

      &.nav-container-ex-2 {
        max-width: 1348px;
        padding: 20px 40px;
      }

      .logo-wrapper {
        background-color: transparent;

        a {
          img {
            max-width: 200px;
          }
        }
      }

      .nav-right-content {
        display: flex;
        align-items: center;
        position: relative;
        z-index: 0;
        margin-left: 30px;

        ul {
          li {
            .notification {
              a {
                position: relative;
                display: inline-block;
                height: 55px;
                width: 55px;
                line-height: 55px;
                background-color: #35AB9D;
                text-align: center;
                border-radius: 50%;

                .icon {
                  display: inline-block;
                  color: #fff;
                  font-size: 22px;
                  padding: 0;
                }

                .numb {
                  position: absolute;
                  background-color: #1F8579;
                  color: #fff;
                  font-size: 10px;
                  max-width: 150px;
                  max-height: 150px;
                  min-height: 25px;
                  min-width: 25px;
                  line-height: 23px;
                  border: 1px solid #fff;
                  border-radius: 50%;
                  font-weight: 600;
                  right: -5px;
                  top: -7px;
                  overflow: hidden;
                  box-sizing: border-box;
                }
              }

              .notification-box {
                position: absolute;
                top: 100%;
                right: 0;
                width: 340px;
                background-color: #fbfbfb;
                padding: 20px;
                border-radius: 5px;
                box-shadow: 0px 0px 8px 1px #7a7a7a52;
                transform: scale(0.7);
                transition: all linear 0.2s;
                opacity: 0;
                visibility: hidden;

                .title {
                  font-size: 22px;
                  font-weight: 600;
                  line-height: 32px;
                  color: var(--heading-color);
                  text-align: center;
                  border-bottom: 1px solid #ddd;
                  padding-bottom: 8px;
                }

                .notification-list {
                  margin-top: 10px;
                  max-height: 255px;
                  overflow-y: auto;

                  &::-webkit-scrollbar {
                    width: 3px;
                    opacity: 0;

                  }

                  &::-webkit-scrollbar-track {
                    box-shadow: 0 0 1px grey;
                    border-radius: 10px;
                    opacity: 0;
                  }

                  &::-webkit-scrollbar-thumb {
                    background: #fba36060;
                    border-radius: 10px;
                    opacity: 0;
                  }

                  li {
                    display: block;
                    margin-left: 0 !important;
                    margin-bottom: 8px;
                    border-bottom: 1px solid #ddd;
                    padding-bottom: 8px;
                    padding-right: 11px;
                    position: relative;

                    &:last-child {
                      margin-bottom: 0;
                      border-bottom: 0;
                    }

                    .main-wrap {
                      background-color: transparent;
                      flex-wrap: wrap;

                      .left-content {
                        display: flex;
                        align-items: center;

                        .img-box {
                          margin-right: 15px;

                          img {
                            width: 50px;
                            height: 50px;
                            border-radius: 50%;
                            border: 1px solid rgba(221, 221, 221, 0.556);
                          }
                        }

                        .content {
                          display: flex;
                          flex-direction: column;
                          text-align: left;
                          flex: 1;
                          background-color: transparent;

                          .top-cont {
                            display: flex;
                            justify-content: space-between;
                          }

                          .name {
                            font-size: 18px;
                            font-weight: 600;
                            color: #333333;
                          }

                          .action {
                            font-size: 16px;
                            line-height: 26px;
                            color: var(--paragraph-color);
                          }
                        }
                      }

                      .right-content {}
                    }
                  }
                }

                .see-all {
                  text-align: center;
                  line-height: 0;
                  margin-top: 10px;

                  .btn-default {
                    border-radius: 5px;
                    background-color: transparent;
                    color: var(--heading-color);
                    width: auto;
                    height: auto;
                    display: inline-block;
                    padding: 4px 27px 5px;
                    line-height: 26px;
                    transition: all linear 0.2s;

                    &:hover {
                      background-color: transparent;
                      color: var(--secondary-color);
                    }
                  }
                }
              }

              &:hover {
                .icon {
                  transform-origin: top center;
                  animation: myswing 3s linear 1;
                }

                .notification-box {
                  transform: scale(1);
                  opacity: 1;
                  visibility: visible;
                }
              }
            }

            a {
              &.register {
                &:hover {
                  border-color: #fff;
                }
              }

              &:hover {}
            }

            +li {
              margin-left: 30px;
            }

            .lang {
              select {
                padding: 9px 18px 10px;
                border-radius: 5px;

                &:hover {
                  cursor: pointer;
                }
              }
            }
          }
        }
      }

      .navbar-collapse {
        .navbar-nav {
          text-align: right;

          li {
            position: relative;

            &::after {
              position: absolute;
              content: "";
              bottom: 0;
              left: 0;
              height: 2px;
              width: 0%;
              background-color: #fff;
              transition: all linear 0.3s;
            }

            &.current-menu-item {

              &::after {
                width: 100%;
              }

              a {
                color: $white;
              }

              &:before {
                color: $white;
              }
            }

            &.menu-item-has-children {
              z-index: initial;
              color: #fff;

              .sub-menu {
                border-color: var(--main-color-one);

                li {
                  a {
                    background-color: #fff;
                    color: var(--heading-color);

                    &:hover {
                      background-color: var(--main-color-one);
                      color: #fff;
                    }
                  }
                }

                .menu-item-has-children {
                  &:hover>.sub-menu {
                    li {
                      &:hover {
                        &:before {
                          color: $white;
                        }

                        a {
                          color: var(--main-color-one)
                        }
                      }
                    }
                  }
                }
              }
            }

            a {
              @include transition($transition);
              color: $white;
              font-family: var(--heading-font);
              font-size: 16px;
              font-weight: 400;
            }

            &:hover {

              &::after {
                width: 100%;
              }

              &.menu-item-has-children {
                &:before {
                  color: $white;
                }
              }

              a {
                color: $white;
              }
            }
          }
        }
      }
    }

    &.v-02 {
      &.has-topbar {}

      .nav-container {
        background-color: #fff;

        .navbar-collapse {
          .navbar-nav {
            text-align: right;

            &>li {
              a {
                color: #4F4F4F;
              }

              &::after {
                display: none;
              }

              &.menu-item-has-children {
                &::before {
                  color: var(--heading-color);
                }
              }

              &:hover {
                a {
                  color: var(--main-color-two);
                }

                &.menu-item-has-children {
                  &::before {
                    color: var(--main-color-two);
                  }

                  .sub-menu {
                    border-color: var(--main-color-two);

                    li {
                      a {
                        &:hover {
                          color: #fff;
                          border-color: var(--main-color-two);
                          background-color: var(--main-color-two);
                        }
                      }

                      &::after {
                        display: none;
                      }
                    }
                  }
                }
              }

              &.current-menu-item {
                a {
                  color: var(--main-color-two);
                }

                &.menu-item-has-children {
                  &::before {
                    color: var(--main-color-two);
                  }
                }
              }
            }
          }
        }

        .nav-right-content {
          .notification {
            a {
              background-color: #FFECDE;

              .icon {
                color: #4F4F4F;
              }

              .numb {
                background-color: var(--main-color-two);
              }
            }
          }
        }
      }
    }

    &.v-03 {
      background-color: #fff;
      &.has-topbar {}

      .nav-container {
        background-color: transparent;

        .navbar-collapse {
          .navbar-nav {
            text-align: center;

            &>li {
              a {
                color: #4F4F4F;
              }

              &::after {
                display: none;
              }

              &.menu-item-has-children {
                &::before {
                  color: var(--heading-color);
                }
              }

              &:hover {
                a {
                  color: var(--main-color-one);
                }

                &.menu-item-has-children {
                  &::before {
                    color: var(--main-color-one);
                  }

                  .sub-menu {
                    border-color: var(--main-color-one);

                    li {
                      a {
                        &:hover {
                          color: #fff;
                          border-color: var(--main-color-one);
                          background-color: var(--main-color-one);
                        }
                      }

                      &::after {
                        display: none;
                      }
                    }
                  }
                }
              }

              &.current-menu-item {
                a {
                  color: var(--main-color-one);
                }

                & > a {
                  font-weight: 600;
                }

                &.menu-item-has-children {
                  &::before {
                    color: var(--main-color-one);
                  }
                }
              }
            }
          }
        }

        .nav-right-content {
          .notification {
            a {
              background-color: #F2F2F2;

              .icon {
                color: #4F4F4F;
              }

              .numb {
                background-color: var(--main-color-one);
              }
            }
          }
        }
      }
    }

    &.v-04 {
      background-color: transparent;
      &.has-topbar {}

      .nav-container {
        background-color: transparent;

        .navbar-collapse {
          .navbar-nav {
            text-align: center;

            &>li {
              a {
                color: #fff;
              }

              &::after {
                display: none;
              }

              &.menu-item-has-children {
                &::before {
                  color: #fff;
                }
              }

              &:hover {
                a {
                  color: var(--main-color-three);
                }

                &.menu-item-has-children {
                  &::before {
                    color: var(--main-color-three);
                  }

                  .sub-menu {
                    border-color: var(--main-color-three);

                    li {
                      a {
                        &:hover {
                          color: #fff;
                          border-color: var(--main-color-three);
                          background-color: var(--main-color-three);
                        }
                      }

                      &::after {
                        display: none;
                      }
                    }
                  }
                }
              }

              &.current-menu-item {
                a {
                  color: var(--main-color-three);
                }

                & > a {
                  font-weight: 600;
                }

                &.menu-item-has-children {
                  &::before {
                    color: var(--main-color-three);
                  }
                }
              }
            }
          }
        }

        .nav-right-content {
          .notification {
            a {
              background-color: transparent;

              .icon {
                color: #fff;
              }

              .numb {
                background-color: var(--main-color-three);
              }
            }
          }
        }
      }

      &.ext {
        background-color: transparent;
      }
    }

    &.full-bg-white {
      background-color: #fff;
    }
  }

  &.nav-style-01 {
    background-color: $white;

    .nav-container {
      background-color: $white;
      box-shadow: none;
      border-radius: 0;
      padding: 0 15px;

      .nav-right-content {
        ul {
          li {
            a {
              color: var(--paragraph-color);
            }
          }
        }
      }

      .navbar-collapse {
        .navbar-nav {
          text-align: center;

          li {
            line-height: 110px;

            &.menu-item-has-children {
              z-index: initial;

              a {
                color: $white;
              }

              &:before {
                color: $white;
              }

              .sub-menu {
                li {
                  +li {
                    border-top: 1px solid #e2e2e2;
                  }

                  a {
                    background-color: #fff;
                    color: var(--paragraph-color);

                    &:hover {
                      background-color: var(--main-color-one);
                      color: #fff;
                    }
                  }
                }

                .menu-item-has-children {
                  &:hover>.sub-menu {
                    li {
                      &:hover {
                        &:before {
                          color: $white;
                        }
                      }
                    }
                  }
                }
              }
            }

            &.current-menu-item {
              a {
                color: var(--main-color-one);
              }

              &.menu-item-has-children {
                &:before {
                  color: var(--main-color-one);
                }
              }
            }

            a {
              @include transition($transition);
              color: var(--heading-color-one)
            }

            &:hover {
              &.menu-item-has-children {
                &:before {
                  color: var(--main-color-one);
                }
              }

              a {
                color: var(--main-color-one);
              }
            }

            a {
              color: var(--paragraph-color);
            }
          }
        }
      }
    }
  }

  .nav-container {
    background-color: #fff;
    box-shadow: 0px 6px 15px 0px rgba(0, 0, 0, 0.2);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 0 30px;

    .nav-right-content {

      ul {
        margin: 0;
        padding: 0;
        list-style: none;
        margin-left: 0px;

        li {
          display: inline-block;
          margin: 0 0 0 8px;
          font-size: 16px;
          font-family: var(--heading-font);
          text-transform: capitalize;
          font-weight: 400;
          line-height: 70px;

          &:first-child {
            margin-left: 0;
          }

          color: #6a7795;

          a {
            @include transition($transition);

            .icon {
              font-size: 18px;
              display: inline-block;
              vertical-align: -2px;
              padding-right: 6px;
            }

            .la-search {
              transform: rotateY(180deg);
            }

            &:hover {}
          }

          &.search {
            cursor: pointer;
            @include transition($transition);

            &:hover {
              color: var(--main-color-one);
            }
          }

          &.nav-btn {
            .btn-boxed {
              font-weight: 600;
              text-transform: capitalize;
              border-radius: 5px;
              background-color: var(--main-color-one);

              &:hover {
                background-color: var(--secondary-color);
              }
            }
          }
        }
      }
    }

    .navbar-brand {
      .site-title {
        font-weight: 700;
        font-size: 30px;
        font-family: var(--heading-font);
        line-height: 90px;
        color: var(--heading-color);
      }
    }

    .navbar-collapse {
      .navbar-nav {
        display: block;
        width: 100%;
        text-align: right;

        li {
          +li {
            margin-left: 30px;
          }

          display: inline-block;
          font-size: 16px;
          font-family: var(--body-font);
          text-transform: capitalize;
          font-weight: 400;
          line-height: 70px;

          &.current-menu-item {
            a {
              color: var(--main-color-one);
            }
          }

          &.menu-item-has-children {
            position: relative;
            z-index: 0;
            padding-right: 20px;

            &:before {
              position: absolute;
              right: 0;
              top: 51%;
              content: "\f107";
              font-family: 'Line Awesome Free';
              font-weight: 900;
              -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
              -webkit-transition: all 0.3s ease-in;
              transition: all 0.3s ease-in;
              font-size: 14px;
              cursor: pointer;
            }

            &:hover>.sub-menu {
              visibility: visible;
              opacity: 1;
              top: 100%;
              left: 0;
            }

            .sub-menu {
              position: absolute;
              text-align: left;
              min-width: 220px;
              margin: 0;
              padding: 0;
              list-style: none;
              left: 0px;
              top: 150%;
              box-shadow: 0 0 15px 0 rgba(#000, 0.05);
              background-color: $white;
              z-index: 9;
              border-bottom: 4px solid var(--main-color-one);
              visibility: hidden;
              opacity: 0;
              transition: all linear 0.2s;

              li {
                display: block;
                margin-left: 0;
                line-height: 24px;
                font-size: 16px;
                font-family: var(--heading-font);
                border-bottom: none;

                +li {
                  border-top: 1px solid #e2e2e2;
                }

                a {
                  display: block;
                  padding: 10px 30px;
                  background-color: #fff;
                  white-space: nowrap;
                  color: var(--paragraph-color);
                  @include transition($transition);

                  &:hover {
                    background-color: var(--main-color-one);
                    color: #fff;
                  }
                }
              }

              .menu-item-has-children {
                position: relative;
                z-index: 0;
                padding-right: 0px;

                >.sub-menu {
                  left: 100%;
                  top: 0px;

                  .sub-menu {
                    .sub-menu {
                      left: auto;
                      right: 100%;
                    }
                  }
                }

                &:hover>.sub-menu {
                  visibility: visible;
                  opacity: 1;

                  li {
                    &:hover {
                      &:before {
                        color: $white;
                      }
                    }
                  }
                }
              }
            }
          }

          a {
            @include transition($transition);

            &:hover {
              color: var(--main-color-one);
            }
          }
        }
      }
    }
  }
}

.navbar-main-wrap {
  min-height: 100px;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 5;
}

@media only screen and (max-width: 991px) {
  .navbar-area {
    &.nav-style-02 {
      .nav-container {
        padding: 20px 20px;

        .navbar-toggler {
          background-color: #fff;
          height: 50px;
          align-self: center;
          margin-bottom: 2px;
        }

        .navbar-collapse {
          .navbar-nav {
            background-color: var(--secondary-color);
            margin-top: 20px;

            li {
              &.menu-item-has-children {
                .sub-menu {
                  li {
                    a {
                      background-color: transparent;
                      color: rgba($white, 0.8);
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    &.nav-style-01 {
      .nav-container {
        padding: 20px 0px;

        .responsive-mobile-menu {
          .navbar-toggler {
            background-image: none;
            height: 50px;
            align-self: center;
            margin-bottom: 3px;
          }
        }

        .navbar-collapse {
          .navbar-nav {
            text-align: left;

            li {
              line-height: 30px;

              &.current-menu-item {
                a {
                  color: var(--main-color-one);
                }

                &.menu-item-has-children {
                  &:before {
                    color: var(--main-color-one);
                  }
                }
              }

              &.menu-item-has-children {
                z-index: initial;

                &:before {
                  color: rgba($white, 0.8);
                }

                .sub-menu {
                  li {
                    +li {
                      border-top: 1px solid #e2e2e2;
                    }

                    a {
                      background-color: transparent;
                      color: rgba(255, 255, 255, 0.8);

                      &:hover {
                        background-color: var(--main-color-one);
                        color: #fff;
                      }
                    }
                  }

                  .menu-item-has-children {
                    &:hover>.sub-menu {
                      li {
                        &:hover {
                          &:before {
                            color: #656565;
                          }
                        }
                      }
                    }
                  }
                }
              }

              a {
                @include transition($transition);
                color: rgba($white, 0.8);
              }

              &:hover {
                &.menu-item-has-children {
                  &:before {
                    color: var(--main-color-one);
                  }
                }

                a {
                  color: var(--main-color-one);
                }
              }
            }
          }
        }
      }
    }

    .nav-container {
      position: relative;
      z-index: 0;
      min-height: 80px;

      .responsive-mobile-menu {
        display: flex;
        justify-content: space-between;
        position: relative;
        width: 100%;
      }

      .navbar-brand {
        display: block;

        .navbar-toggler {
          border: 1px solid #e2e2e2;
          height: 50px;
          align-self: center;
          margin-bottom: 3px;
        }
      }

      .navbar-collapse {
        .navbar-nav {
          display: block;

          li {
            display: block;
            text-align: left;
            line-height: 30px;
            padding: 10px 0 10px 15px;
            border-bottom: 1px solid rgba($white, 0.2);

            &:last-child {
              border-bottom: none;
            }

            +li {
              margin-left: 0;
            }

            &.menu-item-has-children {
              &:before {
                top: 25px;
                right: 20px;
              }

              &:hover {
                padding-bottom: 0;

                >.sub-menu {
                  visibility: visible;
                  height: auto;
                  opacity: 1;
                  background-color: transparent;
                  border-bottom: none;
                  padding-top: 10px;
                }
              }

              .sub-menu {
                position: initial;
                display: block;
                width: 100%;
                border-top: none;
                box-shadow: none;
                margin-left: 0;
                padding-bottom: 0;
                visibility: hidden;
                opacity: 0;
                height: 0;
                overflow: hidden;
                max-height: 250px;
                overflow-y: scroll;
                @include transition(height 500ms);

                .sub-menu .menu-item-has-children:before {
                  content: "\f107";
                }

                li {
                  &.menu-item-has-children {
                    &:hover {
                      &:before {
                        color: $white;
                      }
                    }
                  }

                  padding: 0;

                  +li {
                    border-top: none;
                  }

                  &:first-child {
                    border-top: 1px solid rgba($white, 0.2);
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 575px) {
  .navbar-area {
    .nav-container {
      margin: 0 15px;
    }
  }
}