/*-------------------------
    Newsletter Area
-------------------------*/
.newsletter-area-wrapper {
    .container {
        background-color: #FFF0E2;
        text-align: center;
        padding: 80px 0 84px;
        border-radius: 25px;

        .title {
            font-size: 36px;
            line-height: 50px;
            font-weight: 600;
            color: var(--heading-color);
            margin-bottom: 25px;
        }
    }
}