/*-----------------------------
    Accordion Item
-----------------------------*/
.faq-accordion {
    .card {
        overflow: visible;
        margin-bottom: 30px;
        border: none;

        &:last-child {
            margin-bottom: 0;
        }

        .card-header {
            background-color: transparent;
            border-bottom: none;
            position: relative;
            padding: 0;
            margin-bottom: 0;

            a {
                font-family: var(--heading-font);
                display: block;
                text-decoration: none;
                font-size: 24px;
                line-height: 34px;
                text-transform: initial;
                color: #373737;
                border: 1px solid #F2F3F5;
                font-weight: 600;
                padding: 12px 32px 16px 20px;

                &:focus {
                    box-shadow: none;
                }

                i.close {
                    display: none;
                }

                i {
                    font-size: 15px;
                    color: #333333;
                    position: absolute;
                    right: 10px;
                    top: 22px;
                }

                &[aria-expanded="true"] {
                    background-color: #F2F3F5;
                    i.close {
                        display: block;
                    }

                    i.open {
                        display: none;
                    }
                }

                &.collapsed {
                    background-color: transparent;
                }
            }
        }

        .card-body {
            padding: 20px 0 0;
            margin-top: -6px;
        }
    }
}