/*----------------------------
    Social Link
----------------------------*/
.social-link-list {
    padding-left: 0;
    margin-bottom: 0;
    list-style-type: none;

    .link-item {
        display: inline-block;
        margin: 0 5px;

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-right: 0;
        }

        a {
            color: var(--paragraph-color);
            transition: all linear 0.2s;

           

            .icon {
                display: inline-block;
                width: 36px;
                height: 36px;
                line-height: 36px;
                text-align: center;
                border-radius: 4px;
                font-size: 16px;
                align-self: center;
                margin-right: 0px;
                transition: all linear 0.2s;
                background-color: #F2F2F2;
                color: #4F4F4F;

                &:hover {
                    background-color: var(--main-color-one);
                    color: #fff;
                }

                i {
                    transition: all linear 0.2s;
                }
            }

            &:hover {
                color: var(--main-color-one);
            }

            &:hover {

                &.facebook {
                    color: $facebook;
                }

                &.twitter {
                    color: $twitter;
                }

                &.linkedin {
                    color: $linkedin;
                }

                &.instagram {
                    color: $instagram;
                }

                &.youtube {
                    color: $youtube;
                }

                &.rss {
                    color: $rss;
                }
            }
        }
    }

    &.style-02 {
        .link-item {
            a {
                .icon {
                    width: 40px;
                    height: 40px;
                    line-height: 40px;
                    text-align: center;
                    border-radius: 50%;
                    transition: all linear 0.2s;
                }

                .facebook {
                    background-color: $facebook;
                }

                .twitter {
                    background-color: $twitter;
                }

                .linkedin {
                    background-color: $linkedin;
                }

                .instagram {
                    background-color: $instagram;
                }

                .youtube {
                    background-color: $youtube;
                }

                &:hover {
                    .icon {
                        background-color: #fff;
                    }

                    .facebook {
                        color: $facebook;
                    }

                    .twitter {
                        color: $twitter;
                    }

                    .linkedin {
                        color: $linkedin;
                    }

                    .instagram {
                        color: $instagram;
                    }

                    .youtube {
                        color: $youtube;
                    }
                }
            }
        }
    }
}

.author-social-link {
    .link-item {
        display: inline-block;
        margin: 0 5px;

        a {
            display: inline-block;
            width: 25px;
            height: 25px;
            background-color: #F2F3F5;
            text-align: center;
            line-height: 25px;
            font-size: 14px;
            transition: all linear 0.2s;

            &.facebook {
                color: $facebook;

                &:hover {
                    color: #fff;
                    background-color: $facebook;
                }
            }

            &.twitter {
                color: $twitter;

                &:hover {
                    color: #fff;
                    background-color: $twitter;
                }
            }

            &.linkedin {
                color: $linkedin;

                &:hover {
                    color: #fff;
                    background-color: $linkedin;
                }
            }

            &.instgram {
                color: $instagram;

                &:hover {
                    color: #fff;
                    background-color: $instagram;
                }
            }
        }
    }
}


/*----------------------------
      Post Meta
  ----------------------------*/
.post-meta {
    .post-meta-list {
        .post-meta-item {
            display: inline-block;
            margin-right: 20px;
            color: #5B6776;
            font-size: 16px;
            line-height: 26px;
            font-weight: 400;
            text-transform: capitalize;
            position: relative;
            padding-left: 20px;

            &::before {
                content: "";
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background-color: var(--main-color-two);
            }

            &:first-child {
                padding-left: 0;
                &::before {
                    display: none;
                }
            }

            &:last-child {
                margin-right: 0;
            }

            .icon {
                display: inline-block;
                margin-right: 6px;
                color: var(--main-color-one);
            }

            .text {
                display: inline-block;
                transition: all linear 0.2s;

                &.author {
                    font-weight: 500;
                    color: #666666;
                    transition: $transition;

                    &:hover {
                        color: var(--main-color-one);
                    }
                }
            }

            .image {
                display: inline-block;
                width: 25px;
                height: 25px;
                border-radius: 50%;
                margin-right: 6px;
            }

            a {
                display: inline-block;

                transition: all linear 0.2s;

                &:hover {
                    color: var(--main-color-one) !important;
                }
            }
        }

        &.style-02 {
            .post-meta-item {
                position: relative;
                padding-right: 21px;
                margin-right: 0px;
                padding-left: 16px;

                .text {
                    color: #BDBDBD;

                    &.author {
                        font-weight: 600;
                    }
                }

                &::after {
                    content: "";
                    position: absolute;
                    right: 0;
                    top: 50%;
                    width: 2px;
                    height: 17px;
                    background-color: #BDBDBD;
                    transform: translateY(-50%);
                }

                &::before {
                    display: none;
                }

                &:first-child {
                    padding-left: 0;
                }

                &:last-child {
                    &::after {
                        display: none;
                    }
                }
            }

            &.light {
                .post-meta-item {
                    color: #999999;
                    font-weight: 400;

                    .author {
                        color: #666666;
                        font-weight: 500;
                        transition: all linear 0.2s;

                        &:hover {
                            color: var(--main-color-two) !important;
                        }
                    }

                    a {
                        transition: all linear 0.2s;

                        &:hover {
                            color: var(--main-color-two) !important;
                        }
                    }

                }

            }
        }
    }


        .post-meta-list {
            &.main-color-two {
                .post-meta-item {
                    a {
                        
                        .text {
                            &.author {
                                color: var(--main-color-two);
                            }
                        }
    
                        .icon {
                            color: var(--main-color-two);
                        }
    
                        &:hover {
                            color: var(--main-color-two);

                            .text {
                                color: var(--main-color-two);
                            }
                        }
                    }
                }
            }
        }
    

    &.color-white {
        .post-meta-list {
            .post-meta-item {
                .text {
                    color: $white;
                }

                a {
                    .text {
                        transition: $transition;

                    &:hover {
                        color: var(--main-color-one);
                    }
                    }
                }
            }
        }
    }

    &.color-black {
        .post-meta-list {
            .post-meta-item {
                .text {
                    color: #333333;
                }

                a {
                    .text {
                        transition: $transition;

                    &:hover {
                        color: var(--main-color-one);
                    }
                    }
                }
            }
        }
    }
}